.body-wrapper{
    margin-left:80px;
    height: 900px;
    width: 100%;
    background-color: white;
    position: relative;
    z-index: 0;
}

.not-extended-nav{
    opacity: 0.0;
}

.extended-nav{
    opacity: 1.0;
    background-color: blueviolet;
}

.body{

}